header.main-header
  // Logo
  a.logo(href='index2.html')
    span.logo-mini
      b SI
    span.logo-lg
      b SI &nbsp;
      | Automation
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li
          a(href='#', data-toggle='control-sidebar')
            i.fa.fa-gears