aside.main-sidebar
  // sidebar: style can be found in sidebar.less
  section.sidebar
    // search form
    form.sidebar-form(action='#', method='get')
      .input-group
        input.form-control(type='text', name='q', placeholder='Search...')
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    // /.search form
    // sidebar menu: : style can be found in sidebar.less
    ul.sidebar-menu
      li.header MAIN NAVIGATION
      li(class=setActive("/ocr/"))
        a(href='/ocr/')
          i.fa.fa-home
          span Home
      li(class=setActive("/ocr/upload"))
        a(href='/ocr/upload')
          i.fa.fa-upload
          span Upload
      li(class=setActive("/ocr/documentation"))
        a(href='#')
          i.fa.fa-book
          span Documentation
            