{% extends 'ocr/layout.pug' %}
| {% load static %}
//block page_css
  link(rel='stylesheet', href="{% static '/ocr/css/lightslider.min.css'%}")
  link(rel='stylesheet', href="{% static '/ocr/css/pages/home.css'%}")

block content
  section.content
    .p
      {{ result.result }}

//block page_script
  script(src="{% static '/ocr/js/lightslider.min.js'%}")
  script(src="{% static '/ocr/js/pages/home.js'%}")